<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 3</title>
    <h1 style='color: #e40c0c'>
    Page 3
    <h1/>
</head>
<body>
    <h2 style='color: #5b0f72'>
        Welcome to page 3
        <h2/>
        You can find other pages here:
        <h3 style='color: #0e5b10'>
        <p><p/>
        <a href='page1'>1<a/>,
        <a href='page2'>2<a/>,
        <a href='home'>Home page<a/>
        <h3/>