h1 {
    color: #e40c0c;
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    color: #10a37f;
    font-family : Verdana;
}

h3 {
    color: #0022ff;
    font-family : sans-serif;
}